* {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);

}

.app {
    max-width: 1200px; 
    margin: 0 auto; 
  }

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ant-menu-submenu-popup {
    background-color: #183e85; 
  }
  
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* main container app.jsx */
.main-container {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "left-maincontainer right-maincontainer"
      "left-maincontainer right-maincontainer";
  }
  
.left-maincontainer { 
    grid-area: left-maincontainer; 
}
  
.right-maincontainer { 
    grid-area: right-maincontainer; 
}
  

